<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css
">
    <footer id="footer" class="grid-container">
        <div class="widgets row gradient-effect">
            <div class="default-sidebar border-effect">
              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="tag_cloud-2" class="widget widget_epcl_posts_thumbs underline-effect">
                  <h4 class="widget-title title white bordered">最新文章</h4>
                  <% site.posts.forEach(function(post, index) { %>
                  <% if (index < 3) { %>
                  <article class="item post-<%= index %> post type-post status-publish format-standard has-post-thumbnail hentry">
                    <a href="<%= post.link %>" class="thumb hover-effect">
                      <span class="fullimage cover" style="display: block;background-image: url('<% if (post.feature) { %><%= post.feature %><% } else if (post.tags[0]) { %><%= themeConfig.domain %>/media/images/<%= post.tags[0].slug %>.jpg<% } else { %><%= themeConfig.domain %>/media/images/gridea.jpg<%} %>');"></span>
                    </a>
                    <div class="info gradient-effect">
                      <time datetime="<%= post.dateFormat %>"><%= post.dateFormat %></time>
                      <h4 class="title usmall">
                        <a href="<%= post.link %>"><%= post.title %></a>
                      </h4>
                    </div>
                    <div class="clear"></div>
                  </article>
                  <% } %>
                  <% }); %>
                  <div class="clear"></div>
                </section>
              </div>

              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="tag_cloud-2" class="widget widget_tag_cloud underline-effect">
                  <h4 class="widget-title title white bordered">网站标签</h4>
                  <div class="tagcloud">
                    <% site.tags.forEach(function(tag, tagIndex) { %>
                      <a href="<%= tag.link %>" class="ctag ctag-<%= tagIndex %> ctag-<%= tag.slug %>" aria-label=""><%= tag.name %></a>
                    <% }); %>
                  </div>
                  <div class="clear"></div>
                </section>
              </div>

              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="epcl_about-2" class="widget widget_epcl_about underline-effect">
                  <h4 class="widget-title title white bordered">关于作者</h4>
                  <div class="avatar">
                    <a href="" class="translate-effect thumb"><span class="fullimage cover" style="background-image: url(<%= themeConfig.domain %>/images/avatar.png);"></span></a>
                  </div>
                  <div class="info">
                    <h4 class="title small author-name gradient-effect no-margin"><a href=""><%= themeConfig.siteName %></a></h4>
                    <p class="founder"><%= themeConfig.siteDescription %></p>
                    <div class="social">
                      <% ['github','twitter','instagram' ,'telegram','qq'].forEach((item) => { %>
                        <% if (site.customConfig[item]) { %> 
                         

                             <!-- <% if(item =='feed'){ %>
                            <a href="<%= site.customConfig[item] %>" class="translate-effect" target="_blank">
                             <img class="fa fa-qq" src="<%= themeConfig.domain %>/media/images/qq.png" width="20" height="15" alt="">
                            </a>
                             <% }else if(item =='instagram'){ %>
                            <a href="<%= site.customConfig[item] %>" class="translate-effect" target="_blank">
                             <img class="fa fa-csdn" src="<%= themeConfig.domain %>/media/images/csdn.png" width="20" height="15" alt="">
                            </a>
                             <% }else{ %>
                              <a href="<%= site.customConfig[item] %>" class="translate-effect" target="_blank"><i class="fa fa-<%= item %>"></i></a>
                            <% } %> -->

                            <a href="<%= site.customConfig[item] %>" class="translate-effect" target="_blank"><i class="fa fa-<%= item %>"></i></a>

                           
                        <% } %>
                      <% }) %>
                    </div> 
                  </div>
                  <div class="clear"></div>
                  </section>
              </div>

            </div>
            <div class="clear"></div>
        </div>

        <div class="logo">
          <a href="<%= themeConfig.domain %>"><img class="" src="<%= themeConfig.domain %>/media/images/bobo.png" alt=""></a>
        </div>
        <p class="published border-effect">
          ©2020 共 <%= site.posts.length-1 %> 篇文章/boboBlog已苟延残喘:<span id="runtime_span" class="fa fa-clock-o" style="color: #feffff;font-weight: bolder"></span> 
          <br/>
          Theme <a href="https://github.com/liyuanbo1997/BoboTheme" target="_blank">「<%= themeConfig.themeName %>」</a> Powered by <a href="https://gridea.dev/" target="_blank">「Gridea」</a>
          <br/>
          Copyright © 2020 | ReDevelop By <a href="https://github.com/liyuanbo1997">LiYuanBo</a> | All Rights Reserved.
        </p>
        
        <a href="javascript:void(0)" id="back-to-top" class="epcl-button dark" style="display:none">
          <i class="fa fa-arrow"></i>
        </a>
    </footer>
    <!--时间特效  -->

<script type="text/javascript">
function show_runtime(){
  window.setTimeout("show_runtime()",1000);
  X=new Date("02/15/2020 00:00:00");
  Y=new Date();
  T=(Y.getTime()-X.getTime());
  M=24*60*60*1000;
  a=T/M;A=Math.floor(a);b=(a-A)*24;B=Math.floor(b);c=(b-B)*60;C=Math.floor((b-B)*60);D=Math.floor((c-C)*60);

  runtime_span.innerHTML=" "+A+"天 "+B+"小时 "+C+"分 "+D+"秒"
}
show_runtime();
  </script> 

    <div class="clear"></div>

    <!-- Live2D模型看板娘 -->
    <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
    <script>
        L2Dwidget.init({
            "model": {
                //jsonpath控制显示那个小萝莉模型，下面这个就是我觉得最可爱的小萝莉模型，替换时后面名字也要替换掉
                jsonPath: "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
                "scale": 1
            },
            "display": {
                "position": "left", //看板娘的表现位置
                "width": 300,  //小萝莉的宽度
                "height": 600, //小萝莉的高度
                "hOffset": 0,
                "vOffset": -20
            },
            "mobile": {
                "show": true,
                "scale": 0.5
            },
            "react": {
                "opacityDefault": 0.7,
                "opacityOnHover": 0.2
            }
        });
    </script>
    <!-- 爱心特效 start -->
    <script>
      //鼠标点击出现爱心特效
      (function(window,document,undefined){
          var hearts = [];
          window.requestAnimationFrame = (function(){
              return window.requestAnimationFrame ||
                  window.webkitRequestAnimationFrame ||
                  window.mozRequestAnimationFrame ||
                  window.oRequestAnimationFrame ||
                  window.msRequestAnimationFrame ||
                  function (callback){
                      setTimeout(callback,1000/60);
                  }
          })();
          init();
          function init(){
              css(".heart{width:10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;}.heart:after{top: -5px;}.heart:before{left: -5px;}");
              attachEvent();
              gameloop();
          }
          function gameloop(){
              for(var i=0;i<hearts.length;i++){
                  if(hearts[i].alpha <=0){
                      document.body.removeChild(hearts[i].el);
                      hearts.splice(i,1);
                      continue;
                  }
                  hearts[i].y--;
                  hearts[i].scale += 0.004;
                  hearts[i].alpha -= 0.013;
                  hearts[i].el.style.cssText = "left:"+hearts[i].x+"px;top:"+hearts[i].y+"px;opacity:"+hearts[i].alpha+";transform:scale("+hearts[i].scale+","+hearts[i].scale+") rotate(45deg);background:"+hearts[i].color;
              }
              requestAnimationFrame(gameloop);
          }
          function attachEvent(){
              var old = typeof window.οnclick==="function" && window.onclick;
              window.onclick = function(event){
                  old && old();
                  createHeart(event);
              }
          }
          function createHeart(event){
              var d = document.createElement("div");
              d.className = "heart";
              hearts.push({
                  el : d,
                  x : event.clientX - 5,
                  y : event.clientY - 5,
                  scale : 1,
                  alpha : 1,
                  color : randomColor()
              });
              document.body.appendChild(d);
          }
          function css(css){
              var style = document.createElement("style");
              style.type="text/css";
              try{
                  style.appendChild(document.createTextNode(css));
              }catch(ex){
                  style.styleSheet.cssText = css;
              }
              document.getElementsByTagName('head')[0].appendChild(style);
          }
          function randomColor(){
              return "rgb("+(~~(Math.random()*255))+","+(~~(Math.random()*255))+","+(~~(Math.random()*255))+")";
          }
      })(window,document);
  </script>
  <!-- 爱心特效 end -->

  <!-- JS背景随鼠标移动start -->
  <!-- <script>
       
    !function(){
    
    function n(n,e,t){
    
    return n.getAttribute(e)||t
   
   }
   
   function e(n){
   
   return document.getElementsByTagName(n)
   
   }
   
   function t(){
   
   var t=e("script"),o=t.length,i=t[o-1];
   
   return{
   
   l:o,z:n(i,"zIndex",-1),o:n(i,"opacity",.5),c:n(i,"color","0,0,0"),n:n(i,"count",99)
   
   }
   
   }
   
   function o(){
   
   a=m.width=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth,
   
   c=m.height=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight
   
   }
   
   function i(){
   
   r.clearRect(0,0,a,c);
   
   var n,e,t,o,m,l;
   
   s.forEach(function(i,x){
   
  for(i.x+=i.xa,i.y+=i.ya,i.xa*=i.x>a||i.x<0?-1:1,i.ya*=i.y>c||i.y<0?-1:1,r.fillRect(i.x-.5,i.y-.5,1,1),e=x+1;e<u.length;e++)n=u[e],
   
   null!==n.x&&null!==n.y&&(o=i.x-n.x,m=i.y-n.y,
   
   l=o*o+m*m,l<n.max&&(n===y&&l>=n.max/2&&(i.x-=.03*o,i.y-=.03*m),
   
   t=(n.max-l)/n.max,r.beginPath(),r.lineWidth=t/2,r.strokeStyle="rgba("+d.c+","+(t+.2)+")",r.moveTo(i.x,i.y),r.lineTo(n.x,n.y),r.stroke()))
   
   }),
   
   x(i)
   
   }
   
   var a,c,u,m=document.createElement("canvas"),
   
   d=t(),l="c_n"+d.l,r=m.getContext("2d"),
   
   x=window.requestAnimationFrame||window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.oRequestAnimationFrame||window.msRequestAnimationFrame||
   
   function(n){
   
   window.setTimeout(n,1e3/45)
   
   },
   
   w=Math.random,y={x:null,y:null,max:2e4};m.id=l,m.style.cssText="position:fixed;top:0;left:0;z-index:"+d.z+";opacity:"+d.o,e("body")[0].appendChild(m),o(),window.onresize=o,
   
   window.onmousemove=function(n){
   
   n=n||window.event,y.x=n.clientX,y.y=n.clientY
   
   },
   
   window.onmouseout=function(){
   
   y.x=null,y.y=null
   
   };
   
   for(var s=[],f=0;d.n>f;f++){
   
   var h=w()*a,g=w()*c,v=2*w()-1,p=2*w()-1;s.push({x:h,y:g,xa:v,ya:p,max:6e3})
   
   }
   
   u=s.concat([y]),
   
   setTimeout(function(){i()},100)
   
   }();
   
   </script> -->

   <!-- JS 动态背景樱花特效 -->
   <!-- <script type="text/javascript">
         //樱花
         var system = {};
         var p = navigator.platform;
         system.win = p.indexOf("Win") == 0;
         system.mac = p.indexOf("Mac") == 0;
         system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
             if (system.win || system.mac || system.xll) {//如果是电脑
     
            $.getScript("https://amayaliu.cn/PersonalHabits/AmayaBlossoms.js");
        } else { //如果是手机
    
        }
 </script> -->